<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ssru.it.longan">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Longan">
        <activity android:name=".Chatbott" />
        <activity android:name=".alerta" />
        <activity android:name=".plantb" />
        <activity android:name=".planta" />
        <activity android:name=".mapa" />
        <activity android:name=".fogotpassa" />
        <activity android:name=".fogotpass" />
        <activity android:name=".alert" />
        <activity android:name=".tracea" />
        <activity android:name=".trace" />
        <activity android:name=".Aboutme" />
        <activity android:name=".Knowledge4" />
        <activity android:name=".Knowledge3" />
        <activity android:name=".Knowledge2" />
        <activity android:name=".Knowledge1" />
        <activity android:name=".Knowledge" />
        <activity android:name=".qr" />
        <activity android:name=".plant" />
        <activity android:name=".marketa" />
        <activity android:name=".market" />
        <activity android:name=".registerprotect" />
        <activity android:name=".protecttb" />
        <activity android:name=".protectta" />
        <activity android:name=".protectt" />
        <activity android:name=".load" />
        <activity android:name=".information" />
        <activity android:name=".MainActivity9" />
        <activity android:name=".MainActivity7" />
        <activity android:name=".MainActivity6" />
        <activity android:name=".MainActivity5" />
        <activity android:name=".MainActivity4" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptrueAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>